<!DOCTYPE html>
<head>
<link
	href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Dosis|Modak"
	rel="stylesheet">

<link href="resources/css/style.css" type="text/css" rel="stylesheet" />
</head>
<div id="employeeUpdateForm" class="col-md-6">
	<table class="table table-bordered"></table>
	<thead>
		<tr class="active text-center">
			<th id="accountInfo" colspan="2"> 
				Personal Profile
			</th>
		</tr>
	</thead>
	
	<tbody>
		<tr class="success">
			<th>
				First Name 
			</th>
			<td>
				<input id="firstName" type="text" name="firstName" />
			</td>
		</tr>
		<tr class="danger">
			<th>
				Last Name 
			</th>
			<td>
				<input id="lastName" type="text" name="lastName" />
			</td>
		</tr>
		<tr class="info">
			<th>
				User name
			</th>
			<td>
				<input id="username" type="text" name="username" />
			</td>
		</tr>
		<tr class="default">
			<th>
				Password
			</th>
			<td>
				<input id="password" type="text" name="password" />
			</td>
		</tr>
		<tr class="active">
			<th>
				Email
			 </th>
			<td>
				<input id="email" type="text" name="email" />
			</td>
		</tr>
	</tbody>
	
	<tfoot>
		<tr class="default">
			<td colspan="2">
				<button id="confirmBtn" type="submit" class="btn btn-primary">Confirm</button>
			</td>
			</tr>
	</tfoot>
		</table>
		<input id="ersId" type="hidden" name="ersId" />
</div>