<!DOCTYPE html>
<head>
<link
	href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Dosis|Modak"
	rel="stylesheet">

<link href="resources/css/style.css" type="text/css" rel="stylesheet" />
</head>
<div>
	<table class = "table table-bordered">
		<thead>
			<tr class="active">
				<th id="accountInfo">Account Information</th>
				<td id="editInfo"><button id="editEmployeeInfoBtn" class="btn btn-xs btn-primary">Edit</button></td>
			</tr>
		</thead>
		<tbody>
			<tr class="success"><th>Employee ID number </th><td id="ersId"></td></tr>
			<tr class="danger"><th>First name </th><td id="ersFn"></td></tr>
			<tr class="info"><th>Last name </th><td id="ersLn"></td></tr>
			<tr class="warning"><th>User name </th><td id="ersUser"></td></tr>
			<tr class="active"><th>Email </th><td id="ersEmail"></td></tr>
		</tbody>
	</table> 
</div>