<!DOCTYPE html>
<head>
<link
	href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Dosis|Modak"
	rel="stylesheet">

<link href="resources/css/style.css" type="text/css" rel="stylesheet" />
</head>
<div id="newRbForm" class="col-md-4">
	<table class="table table-bordered table-hover">
		<thead>
			<tr class="active text-center"><td colspan="2">Create Reimbursement Request</td></tr>
		</thead>
		<tbody>
			<tr class="success">
				<th>Employee ID</th>
					<td>
						<input id="ersId" name="ers_id" type="number"/>
					</td>
				</tr>
			<tr class="danger">
				<th>Amount</th>
				<td>
					<input id="amount" name="rb_amount" type="number" min="0" value="0.00" step="0.01" />
				</td>
			</tr>
			<tr class="info">
			<th>Type</th><td>
				<select id="rbType">
					<option>Fee</option>
					<option>Hotel</option>
					<option>Food</option>
					<option>Travel</option>
					<option selected="selected">Other</option>
				</select>
			</td></tr>
			<tr class="warning">
				<th>Description</th>
				<td><input id="rbDescription" type="text" name="rb_description" />
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="active"><td colspan="2"><button id="submitRequestBtn" class="btn btn-primary center-block" type="submit">Submit</button></td></tr>
		</tfoot>
	</table>
</div>