<!DOCTYPE html>
<div class="col-md-9">
	<table class="table table-bordered table-hover">
		<thead>
			<tr class="info"><th class="text-center" colspan="9">Reimbursement History</th></tr>
		</thead>
		<tbody>
			<tr id="rbHistoryEntries" class="active">
				<th id="rb_Id">Case Number</th>
				<th id="rb_Amount">Amount</th>
				<th id="rbt_Id">Type</th>
				<th id="st_Id">Status</th>
				<th id="manager_Id">Manager</th>
				<th id="rb_Submitted">Submitted On</th>
				<th id="rb_Resolved">Resolved On</th>
				<th id="rb_Receipt">Receipt</th>
				<th id="rb_Description">Description</th>
			</tr>
		</tbody>
		<tfoot>

		</tfoot>
	</table>
</div>
