@charset "UTF-8";

#loginH1 {
	font-family: 'Modak', cursive;
}

body {
	background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #F9FAF8;
}

#loginTitle, #employeeHomePage, #welcomeMsg {
	font-family: 'Dosis', sans-serif;
}
 
#usernameLabel, #passwordLabel, #submitLabel {
	font-family: 'Dosis', cursive;
} 

thead, tbody {
	font-family: 'Dosis', sans-serif;
}