@charset "UTF-8";

#loginH1 {
	font-family: 'Modak', cursive;
}

body {
	background-image: url('../img/PiedPiperWall.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #2C8437;
}

#loginTitle, #employeeHomePage {
	font-family: 'Dosis', sans-serif;
}
 
#usernameLabel, #passwordLabel, #submitLabel {
	font-family: 'Dosis', cursive;
} 

