<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSystemProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeNavbarServlet</display-name>
    <servlet-name>employeeNavbarServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.employeeNavbarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeNavbarServlet</servlet-name>
    <url-pattern>/employeeNavbarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeHomeViewServlet</display-name>
    <servlet-name>employeeHomeViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.employeeHomeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeHomeViewServlet</servlet-name>
    <url-pattern>/employeeHomeViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getEmployeeInfoServlet</display-name>
    <servlet-name>getEmployeeInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.getEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEmployeeInfoServlet</servlet-name>
    <url-pattern>/getEmployeeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeInfoViewServlet</display-name>
    <servlet-name>employeeInfoViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.employeeInfoViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeInfoViewServlet</servlet-name>
    <url-pattern>/employeeInfoViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editEmployeeInfoServlet</display-name>
    <servlet-name>editEmployeeInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.editEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEmployeeInfoServlet</servlet-name>
    <url-pattern>/editEmployeeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmployeeInfo</display-name>
    <servlet-name>updateEmployeeInfo</servlet-name>
    <servlet-class>com.revature.servlet.employee.updateEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployeeInfo</servlet-name>
    <url-pattern>/updateEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reimbursementRequestServlet</display-name>
    <servlet-name>reimbursementRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.reimbursementRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimbursementRequestServlet</servlet-name>
    <url-pattern>/reimbursementRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitRequestBtnServlet</display-name>
    <servlet-name>submitRequestBtnServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.submitRequestBtnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitRequestBtnServlet</servlet-name>
    <url-pattern>/submitRequestBtnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewReimbursementServlet</display-name>
    <servlet-name>viewReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.viewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReimbursementServlet</servlet-name>
    <url-pattern>/viewReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadReimbursementServlet</display-name>
    <servlet-name>loadReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlet.employee.loadReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadReimbursementServlet</servlet-name>
    <url-pattern>/loadReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadManagerNavbar</display-name>
    <servlet-name>loadManagerNavbar</servlet-name>
    <servlet-class>com.revature.servlet.manager.loadManagerNavbar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadManagerNavbar</servlet-name>
    <url-pattern>/loadManagerNavbar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerHomeViewServlet</display-name>
    <servlet-name>managerHomeViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.managerHomeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerHomeViewServlet</servlet-name>
    <url-pattern>/managerHomeViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getManagerInfoServlet</display-name>
    <servlet-name>getManagerInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.getManagerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getManagerInfoServlet</servlet-name>
    <url-pattern>/getManagerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchEmployeeServlet</display-name>
    <servlet-name>searchEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.searchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchEmployeeServlet</servlet-name>
    <url-pattern>/searchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchResultViewServlet</display-name>
    <servlet-name>searchResultViewServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.searchResultViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchResultViewServlet</servlet-name>
    <url-pattern>/searchResultViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getRbByEmployeeServlet</display-name>
    <servlet-name>getRbByEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.getRbByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRbByEmployeeServlet</servlet-name>
    <url-pattern>/getRbByEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllManagersServlet</display-name>
    <servlet-name>getAllManagersServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.getAllManagersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllManagersServlet</servlet-name>
    <url-pattern>/getAllManagersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllEmployessServlet</display-name>
    <servlet-name>viewAllEmployessServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.viewAllEmployessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllEmployessServlet</servlet-name>
    <url-pattern>/viewAllEmployessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllEmployeesServlet</display-name>
    <servlet-name>getAllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.getAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllEmployeesServlet</servlet-name>
    <url-pattern>/getAllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllReimbursementsServlet</display-name>
    <servlet-name>viewAllReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.viewAllReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllReimbursementsServlet</servlet-name>
    <url-pattern>/viewAllReimbursementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllReimbursementsServlet</display-name>
    <servlet-name>getAllReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlet.manager.getAllReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllReimbursementsServlet</servlet-name>
    <url-pattern>/getAllReimbursementsServlet</url-pattern>
  </servlet-mapping>
</web-app>