<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletContextVsServletConfig</display-name>
  <context-param>
    <param-name>version</param-name>
    <param-value>hello</param-value>
  </context-param>
  <servlet>
    <servlet-name>CVC</servlet-name>
    <servlet-class>com.revature.servlet.ServletContextVsServletConfig</servlet-class>
    <init-param>
      <param-name>color</param-name>
      <param-value>blue</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CVC</servlet-name>
    <url-pattern>/contextVsConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.revature.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>